#navbar{
  //border: 1px solid red;

  .active-link{
    font-weight: bold;
  }

  img{
    max-width: 35px;
    //max-width: 130px;
  }

  .logo-menu-expanded{
    padding-top: 5%;
    padding-left: 16%;
  }
}
