#skills-container{
  width: 100%;
  padding-top: 2%;

  h2,p{
    padding-left: 2%;
    padding-right: 2%;
    opacity: 0.54;
  }

  #skills-title{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 1%;
    border-bottom: 1px solid #eeeeee;
  }

  .skill-list{
    margin-top: 2%;
    background-color: #fafafa;
  }

  .mdl-list {
    width: 80%;
    margin: 6% auto;
    padding: 0;
    background-color: #fafafa;

    .mdl-list__item{
      margin-bottom: 3%;
      background-color: white;
    }
  }

  .round-list-img{
    max-width: 50px;
    max-height: 50px;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #bdbdbd;
  }

  .list-item-title{
    padding-left: 4%;
  }

  #github-downloader{
    margin-top: 4%;

    .github-container{
      text-align: center;
    }
  }
}
