#sleeping-container{
  #sleeping-contact{
    margin-top: 10%;
    margin-bottom: 4%;
    color: rgba(0,0,0,0.54);

    .profile-image{
      margin-top: 5%;
      margin-bottom: 2%;
      text-align: center;

      img{
        width: 100%;
        //max-width: 200px;
        //max-height: 128px;
        margin: 0;
        padding: 0;
        border-radius: 0%;
        border: 4px solid #3f51b5;
      }
    }

    #sleeping-contact-title{
      margin: 0;
      padding: 2%;
      text-align: center;

      h2{
        color: black;
        font-size: 24px;
        font-weight: 300;
        line-height: normal;
      }
    }
  }
}
